# Import the packages used

In [79]:
import pandas as pd
import os 
import csv 
import zipfile

# Import the Salary Data

In [81]:
# Importing and Reading the CSV file
data = pd.read_csv('Total.csv')

C:\Users\Assasin\AppData\Local\Temp\ipykernel_7228\615467065.py:2: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Total.csv')

In [83]:
# Converting the data to Pandas DataFrame format for easy readability
df = pd.DataFrame(data)

In [85]:
# Displaying the first 5 rows of the data
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

# Create Employee Function

In [87]:
# Create a function to read employee details by inputting the name
def get_employee_details(employee_name):
    employee = df[df['EmployeeName'] == employee_name]
    if not employee.empty:
        return employee.to_dict('records')[0]
    else:
        print(f"Employee named {employee_name} not found.")

In [89]:
# Test the function 
print(get_employee_details('GARY JIMENEZ'))

{'EmployeeName': 'GARY JIMENEZ', 'JobTitle': 'CAPTAIN III (POLICE DEPARTMENT)', 'BasePay': 155966.02, 'OvertimePay': 245131.88, 'OtherPay': 137811.38, 'Benefits': 'Not Provided', 'TotalPay': 538909.28, 'TotalPayBenefits': 538909.28, 'Year': 2011}

In [91]:
# Testing the function for a name that is not captured in the file
print(get_employee_details('Lesley Jerry'))

Employee named Lesley Jerry not found.
None

# Data Processing with Dictionary

In [93]:
# Convert DataFrame to dictionary using the DataFrame index
data_dict = df.to_dict('index')

In [95]:
# Displaying the second record of the Data; indexing starts from 0, 1...
data_dict[1]
# To display all rows at once, use just 'data_dict'

{'EmployeeName': 'GARY JIMENEZ',
 'JobTitle': 'CAPTAIN III (POLICE DEPARTMENT)',
 'BasePay': 155966.02,
 'OvertimePay': 245131.88,
 'OtherPay': 137811.38,
 'Benefits': 'Not Provided',
 'TotalPay': 538909.28,
 'TotalPayBenefits': 538909.28,
 'Year': 2011}

# Error Handling

In [97]:
# Creating a function to handle errors
def get_employee_details_safe(employee_name):
    try:
        employee = df[df['EmployeeName'] == employee_name]
        if not employee.empty:
            return employee.to_dict('records')[0]
        else:
            raise ValueError(f"Employee named {employee_name} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

In [99]:
# Test the error handling function - with a name in the file
print(get_employee_details_safe('NATHANIEL FORD'))

{'EmployeeName': 'NATHANIEL FORD', 'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': 167411.18, 'OvertimePay': 0.0, 'OtherPay': 400184.25, 'Benefits': 'Not Provided', 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011}

In [101]:
# Test the error handling function - with a name NOT found in the file 
print(get_employee_details_safe('LESLEY JERRY'))

An error occurred: Employee named LESLEY JERRY not found.
None

# Export Employee Details

In [103]:
# Creating a function to export Employee Details as Employee Profile using the CSV and Packaging it as Zip file
def export_employee_details(employee_name):
    try:
        employee = get_employee_details(employee_name)
        if employee:
            #Replace empty spaces in employee names with underscore
            filename = f"{employee_name.replace(' ', '_')}.csv"
            with open(filename, 'w', newline='') as csvfile:
                writer = csv.DictWriter(csvfile, fieldnames=employee.keys())
                writer.writeheader()
                writer.writerow(employee)
            with zipfile.ZipFile('EmployeeProfile.zip', 'w') as zipf:
                zipf.write(filename)
            os.remove(filename) 
            print(f"Employee details for {employee_name} exported and zipped successfully!")
        else:
            raise ValueError(f"Employee named {employee_name} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

In [105]:
# Test the export function
export_employee_details('NATHANIEL FORD')

Employee details for NATHANIEL FORD exported and zipped successfully!